* text=auto !eol
/.cproject -text
/.project -text
/AUTHORS -text
/CMakeLists.txt -text
/COPYING.BSD -text
/COPYING.GPL -text
/COPYING.LGPL -text
/COPYRIGHT -text
/ChangeLog -text
/Doxyfile -text
/INSTALL -text
/LICENSE -text
/NEWS -text
/README -text
/README.drivers -text
/README.win32.txt -text
/TODO -text
/base64.c -text
/base64.h -text
/config.h.cmake -text
/drivers.xml -text
drivers/auxiliary/99-gpusb.rules -text
drivers/auxiliary/gpdriver.cpp -text
drivers/auxiliary/gpdriver.h -text
drivers/auxiliary/gpusb.cpp -text
drivers/auxiliary/gpusb.h -text
drivers/ccd/ccd_simulator.cpp -text
drivers/ccd/ccd_simulator.h -text
drivers/filter_wheel/filter_simulator.cpp -text
drivers/filter_wheel/filter_simulator.h -text
drivers/filter_wheel/fli_wheel.c -text
drivers/filter_wheel/trutech_wheel.c -text
drivers/focuser/focus_simulator.cpp -text
drivers/focuser/focus_simulator.h -text
drivers/focuser/indi_tcfs_sk.xml -text
drivers/focuser/robofocus.cpp -text
drivers/focuser/robofocus.h -text
drivers/focuser/tcfs.cpp -text
drivers/focuser/tcfs.h -text
drivers/telescope/celestrongps.cpp -text
drivers/telescope/celestrongps.h -text
drivers/telescope/celestronprotocol.c -text
drivers/telescope/celestronprotocol.h -text
drivers/telescope/ieq45.cpp -text
drivers/telescope/ieq45.h -text
drivers/telescope/ieq45driver.h -text
drivers/telescope/ieq45driver8406.c -text
drivers/telescope/ieq45driver8407.c -text
drivers/telescope/intelliscope.c -text
drivers/telescope/lx200_16.cpp -text
drivers/telescope/lx200_16.h -text
drivers/telescope/lx200ap.cpp -text
drivers/telescope/lx200ap.h -text
drivers/telescope/lx200apdriver.c -text
drivers/telescope/lx200apdriver.h -text
drivers/telescope/lx200aplib.h -text
drivers/telescope/lx200autostar.cpp -text
drivers/telescope/lx200autostar.h -text
drivers/telescope/lx200basic.cpp -text
drivers/telescope/lx200basic.h -text
drivers/telescope/lx200classic.cpp -text
drivers/telescope/lx200classic.h -text
drivers/telescope/lx200driver.c -text
drivers/telescope/lx200driver.h -text
drivers/telescope/lx200fs2.cpp -text
drivers/telescope/lx200fs2.h -text
drivers/telescope/lx200generic.cpp -text
drivers/telescope/lx200generic.h -text
drivers/telescope/lx200gps.cpp -text
drivers/telescope/lx200gps.h -text
drivers/telescope/magellan1.cpp -text
drivers/telescope/magellan1.h -text
drivers/telescope/magellandriver.c -text
drivers/telescope/magellandriver.h -text
drivers/telescope/skycommander.c -text
drivers/telescope/synscanmount.cpp -text
drivers/telescope/synscanmount.h -text
drivers/telescope/telescope_simulator.cpp -text
drivers/telescope/telescope_simulator.h -text
drivers/telescope/temmadriver.c -text
drivers/telescope/temmadriver.h -text
drivers/video/indi_lpi.cpp -text
drivers/video/indi_philips.cpp -text
drivers/video/indi_v4l.cpp -text
drivers/video/stv.c -text
drivers/video/stvdriver.c -text
drivers/video/stvdriver.h -text
drivers/video/v4ldriver.cpp -text
drivers/video/v4ldriver.h -text
drivers/video/v4lphilips.cpp -text
drivers/video/v4lphilips.h -text
/eventloop.c -text
/eventloop.h -text
examples/README -text
examples/tutorial_five/dome.cpp -text
examples/tutorial_five/dome.h -text
examples/tutorial_five/raindetector.cpp -text
examples/tutorial_five/raindetector.h -text
examples/tutorial_four/simpleskeleton.cpp -text
examples/tutorial_four/simpleskeleton.h -text
examples/tutorial_four/tutorial_four_sk.xml -text
examples/tutorial_one/simpledevice.cpp -text
examples/tutorial_one/simpledevice.h -text
examples/tutorial_six/tutorial_client.cpp -text
examples/tutorial_six/tutorial_client.h -text
examples/tutorial_three/simpleccd.cpp -text
examples/tutorial_three/simpleccd.h -text
examples/tutorial_two/simplescope.cpp -text
examples/tutorial_two/simplescope.h -text
/fq.c -text
/fq.h -text
/indiapi.h -text
/indidevapi.h -text
/indidriver.c -text
/indidriver.h -text
/indidrivermain.c -text
/indiserver.c -text
/libindi.pc.cmake -text
libs/indibase/baseclient.cpp -text
libs/indibase/baseclient.h -text
libs/indibase/basedevice.cpp -text
libs/indibase/basedevice.h -text
libs/indibase/defaultdevice.cpp -text
libs/indibase/defaultdevice.h -text
libs/indibase/indibase.h -text
libs/indibase/indiccd.cpp -text
libs/indibase/indiccd.h -text
libs/indibase/indidevice.cpp -text
libs/indibase/indidevice.h -text
libs/indibase/indifilterinterface.cpp -text
libs/indibase/indifilterinterface.h -text
libs/indibase/indifilterwheel.cpp -text
libs/indibase/indifilterwheel.h -text
libs/indibase/indifocuser.cpp -text
libs/indibase/indifocuser.h -text
libs/indibase/indiguiderinterface.cpp -text
libs/indibase/indiguiderinterface.h -text
libs/indibase/indiproperty.cpp -text
libs/indibase/indiproperty.h -text
libs/indibase/inditelescope.cpp -text
libs/indibase/inditelescope.h -text
libs/indibase/indiusbdevice.cpp -text
libs/indibase/indiusbdevice.h -text
libs/indicom.c -text
libs/indicom.h -text
libs/lilxml.c -text
libs/lilxml.h -text
libs/strsep.c -text
libs/strsep.h -text
libs/webcam/PPort.cpp -text
libs/webcam/PPort.h -text
libs/webcam/ccvt.h -text
libs/webcam/ccvt_c2.c -text
libs/webcam/ccvt_misc.c -text
libs/webcam/ccvt_types.h -text
libs/webcam/port.cpp -text
libs/webcam/port.h -text
libs/webcam/pwc-ioctl.h -text
libs/webcam/v4l2_base.cpp -text
libs/webcam/v4l2_base.h -text
libs/webcam/vcvt.h -text
libs/webcam/videodev.h -text
libs/webcam/videodev2.h -text
tools/compiler.c -text
tools/evalINDI.c -text
tools/getINDIproperty.c -text
tools/setINDIproperty.c -text
